* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.signup-container {
  padding-top: 60px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.signup-card {
  transition: 0.4s;
  height: 100%;
  height: auto;
  width: 900px;
  background: #1e2433;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.signup-left {
  width: 50%;
  padding: 40px;
  color: white;
}

.logo {
  font-weight: 600;
  margin-bottom: 20px;
}

.nav span {
  margin-right: 20px;
  cursor: pointer;
  color: #aaa;
}

.start {
  margin-top: 30px;
  font-size: 12px;
  color: #aaa;
}

h1 {
  margin-top: 10px;
}


.login {
  margin-top: 10px;
  font-size: 14px;
}

.login span {
  color: #4da3ff;
  cursor: pointer;
}

.form {
  margin-top: 30px;
}

.name-fields {
  display: flex;
  gap: 10px;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background: #2b3245;
  color: white;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.create {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #2d8cff;
  color: white;
}

.signup-right {
  width: 50%;
  background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
}
.buttons .create{
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup-right .logobox {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #2b3245;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
}

.signup-right .logobox span {
  font-weight: 400;
  font-size: 22px;
}

.signup-right .logo {
  margin: 0;
  min-width: 60px;
  max-width: 60px;
  overflow: hidden;
  height: 60px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: #4da3ff;
}

.logo img {
  width: 100%;
  height: 100%;
}

.signup-right .image {
  padding: 20px;
  width: 80%;
  height: 300px;
  border-radius: 10px;
  background: #2b3245;
}

.signup-right .image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.social-login {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: space-between;
}

.google-btn {
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
}

.facebook-btn {
  background: #1877f2;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
}

button i {
  margin-right: 8px;
}

.nav .ActiveType {
  color: white;
}

.bottomcreatebtn {
  display: none;
}
.dropdownbtn{
  width: 100%;
}
.dropdown-menu{
  height: 400px;
  overflow-y: scroll;
  border-radius: 10px;
}
@media (max-width:576px) {
  .signup-container {
    background: #1e2433;
  }

  .signup-container {
    /* height: auto; */
    border-radius: 0px;
    align-items: start;
  }

  .signup-card {
  box-shadow: none;
    display: block;
    border-radius: 0px;
  }

  .signup-left {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }

  .signup-right {
    width: 100%;
  }

  .signup-right .logobox {
    width: 100%;
    border-radius: 0px;
  }

  .signup-right .image {
    border-radius: 0px;
    width: 100%;
  }

  .signup-right .logobox span {
    font-size: 16px;
    font-weight: 300;
  }

  .bottomcreatebtn {
    display: block;
  }
  .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .topcreatebtn{
    display: none;
  }
}


.loader {
 border: 5px solid #ffffff; /* Light grey background */
 border-top: 5px solid #000000; /* Blue spinner */
 border-radius: 50%;
 width: 20px;
 height: 20px;
 animation: spin 2s linear infinite;
 background: transparent;
}