.BannerPop{
    display: flex;
    align-items: start;
    padding: 10px 15px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    border-radius: 10px;
    left: 50%;
    gap: 10px;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
}
.BannerPop form{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
    width: 400px;
}
.BannerPop form img{
    width: 300px;
    height: 300px;
}
.bannerUpdate{
    padding: 5px 10px;
    border-radius: 10px;
}
