.Nesto {
    padding-top: 60px;
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
}

.NestoBanner {
    position: relative;
    width: 100%;
    height: 80vh;
}

.NestoBanner img {
    width: 100%;
    height: 100%;
    display: block;
}

.bottomShade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, white 100%);
}

.NestoContent {
    /* width: 100%; */
    margin: 0px 60px;
}

.NestoContent .CardsItems {
    position: relative;
    top: -100px;
    display: flex;
    flex-wrap: wrap;
}

.NestoContent .CardItem {
    padding: 5px 10px;
    width: 100%;
    height: 200px;
    border-radius: 25px;
    box-shadow: 0px 2px 10px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.NestoContent .CardItem img {
    width: 100%;
    height: 120px;
    border-radius: 13px;
    /* box-shadow: 0px 5px 6px; */
}

.CardItem h5 {
    margin: 0;
    font-size: 21px;
}

.CardItem p {
    margin: 0;
    font-weight: 500;
}

.CardItem p strong {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}

.dropdown {
    display: none;
}

.dropdown-toggle {
    background-color: black;
    color: white;
    height: 40px;
    border-radius: 10px;

}

.rateAndper {
    display: flex;
    align-items: center;
    font-weight: 400;
    justify-content: space-between;
}

.Percentage {
    height: 35px;
    width: 100%;
    background-color: rgb(22, 56, 22);
    color: white;
    position: absolute;
    transform: rotateZ(-40deg);
    left: -67px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;

}

.btnscart {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.btnscart .Plus,
.btnscart .minus,
.btnscart .number {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;

}



@media (max-width:576px) {
    .NestoBanner {
        height: 35vh;
    }

    .NestoContent {
        margin: 0px 10px;
    }

    .NestoContent .CardsItems {
        top: -10px;

    }

    .NestoContent .CardItem img {
        height: 100px;
    }

    .NestoContent .CardItem {
        height: auto;
    }

    .NestoContent .CardsItems {
        flex-wrap: wrap;
    }

    .CardsItems .dropdown {
        display: block;
    }

    .TABBAR {
        display: none;
    }
}